<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  
  <title>E-commerce Name</title>

  <link rel="icon" href="favicon.ico">

  <link rel="canonical" href="http://www.cea.com.br/">
  <link rel="shortlink" href="http://www.cea.com.br/">

  <meta name="country" content="BRA" />
  <meta name="currency" content="R$" />
  <meta name="Abstract" content="C&A Modas" />
  <meta name="description" content="Descrição da página de teste técnico aqui." />
  <meta name="keywords" content="teste, cea, teste tecnico, teste tecnico cea" />
  <meta name="author" content="cea" />
  <meta name="copyright" content="cea" />

  <!-- Facebook -->
  <meta property="og:url" content="http://www.cea.com.br/">
  <meta property="og:site_name" content="C&A Teste" />
  <meta property="og:description" content="Descrição da página de teste técnico aqui." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="/images/meta-facebook.png" />
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="600">
  <!-- End Facebook -->
  
  <!-- Stylesheets -->
  <link rel="stylesheet" href="scripts/vendor/fancyBox/source/jquery.fancybox.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <!-- End stylesheets -->

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="wrapper">
    <!-- HEADER -->
    <header class="ms-header" role="banner">
      <h1 class="logo">
        <a href="/" title="LOGO">LOGO</a>
      </h1>

      <div class="content-center">
        <div class="welcome">
          <p>Olá visitante, Bem vindo!</p>
          <p>Faça seu login <a href="#">aqui</a> ou <a href="#">cadastre-se</a></p>
        </div><!-- .welcome -->
        <div class="form-search">
          <form>
            <label for="inp-search">Digite aqui sua pesquisa</label>
            <input type="text" id="inp-search" placeholder="Digite aqui sua pesquisa">
            <button type="button">Buscar</button>
          </form>
        </div><!-- .form-search -->
      </div><!-- .col-center -->

      <div class="content-right">
        <a href="#" class="my-bag">Minha sacola <span>0 itens | R$ 0,00</span></a>

        <ul class="my-user">
          <li><a href="#">Meus Pedidos</a></li>
          <li><a href="#">Meu Cadastro</a></li>
          <li><a href="#">Atendimento</a></li>
          <li><a href="#">Lista de Presentes</a></li>
        </ul>
      </div><!-- .col-right -->

      <span class="toggle-nav-mobile"><span class="line"></span></span><!-- .toggle-nav-mobile -->
    </header><!-- .ms-header -->

    <!-- NAVIGATION -->
    <nav class="ms-nav" role="navigation">
      <ul class="nav-list">

        <% menu.forEach(function(item) { %>
          <li><a href="<%- item.link %>"><%- item.title %></a></li>
        <% }) %>

      </ul>
    </nav><!-- .ms-nav -->
    
    <main class="ms-main" role="main">
      <!-- BANNERS -->
      <section class="ms-banner">
        <a class="btn-arrow-prev" href="#" data-navigation="prev">Anterior</a>
        
        <div class="overflow">
          <ul>

            <% banners.principal.forEach(function(banner) { %>
              <li><a href="<%- banner.link %>" title="<%- banner.title %>"><img src="<%- banner.image %>" height="440" width="1920" alt="<%- banner.title %>"></a></li>
            <% }) %>

          </ul>
        </div><!-- .overflow -->

        <a class="btn-arrow-next" href="#" data-navigation="next">Próximo</a>
      </section><!-- .ms-banner -->

      <!-- SMALL BANNERS -->
      <section class="ms-banner-small">
        <ul>

          <% banners.small.forEach(function(banner) { %>
            <li><a href="<%- banner.link %>" title="<%- banner.title %>"><img src="<%- banner.image %>" height="145" width="315" alt="<%- banner.title %>"></a></li>
          <% }) %>

        </ul>
      </section><!-- .ms-banner-small -->

      <!-- SHOP -->
      <section class="shop-view">
        <!-- NAVIGATION SHOP -->
        <aside class="aside-shop" role="complementary">
          <div class="nav-shop">

            <% categories.forEach(function(category) { %>
              <ul class="nav-shop-list">
                <li><%- category.name %></li>

                <% category.subs.forEach(function(subcate){ %>
                  <li><a href="<%- subcate.link %>"><%- subcate.title %></a></li>
                <% }) %>

              </ul>
            <% }) %>

          </div><!-- .nav-shop -->

          <div class="banners-aside">
            <ul>

              <% banners.aside.forEach(function(banner) { %>
                <li><a href="<%- banner.link %>" title="<%- banner.title %>"><img src="<%- banner.image %>" height="172" width="235" alt="<%- banner.title %>"></a></li>
              <% }) %>

            </ul>
          </div><!-- .banners-aside -->
        </aside><!-- .aside-shop -->

        <!-- MAIN SHOP -->
        <section class="shop-main">
          <!-- SHOP HEADER -->
          <header class="shop-header">
            <h2>Vitrine</h2>
          </header><!-- .shop-header -->
          
          <!-- PRODUCT LIST -->
          <ul class="product-list">
          
            <% products.forEach(function(product, index) { %>

              <% if(index % 4 === 0) { %>
                </ul><!-- .product-list -->

                <!-- PRODUCT LIST -->
                <ul class="product-list">
              <% } %>
            
              <li class="product-item" data-pathname="/lightbox-dynamic.html">
                <a class="button-buy" href="<%- product.link %>">Comprar</a>
                <figure class="product-image">
                  <a href="<%- product.link %>" title="<%- product.title %>">
                    <img src="<%- product.image %>" height="123" width="132" alt="<%- product.title %>">
                  </a>
                </figure><!-- .product-image -->
                <div class="product-details">
                  <a href="<%- product.link %>">
                    <% if(product.frete) { %><strong class="product-flag">Frete Grátis</strong><% } %>
                    <strong class="product-header"><%- product.title %></strong>
                    <% if(product.description !== '') { %><span class="product-description"><%- product.description %></span><% } %>
                  </a>
                </div><!-- .product-details -->
                <div class="product-price">
                  <a href="<%- product.link %>">
                    <% if(product.prices.old !== '') { %><span class="old-price">De: R$ <%- product.prices.old %></span><% } %>
                    <% if(product.prices.price !== '') { %><strong class="price">Por: R$ <%- product.prices.price %></strong><% } %>
                    <% if(product.prices.parcel !== '') { %><span class="parcel-price">ou <strong>10x</strong> de <strong>R$ <%- product.prices.parcel %></strong></span><% } %>
                    <span class="more-details">+ Detalhes</span>
                  </a>
                </div><!-- .product-price -->
              </li><!-- .product-item -->
              
            <% }) %>

          </ul><!-- .product-list -->
        </section><!-- .shop-main -->
      </section><!-- .shop-view -->
    </main><!-- .ms-main -->

    <!-- MOST VIEWED -->
    <section class="shop-most-viewed">
      <!-- MOST VIEWED HEADER -->
      <header class="shop-header">
        <h2>Produtos mais vistos</h2>
      </header><!-- .shop-header -->

      <!-- MOST VIEWED SCROLLER -->
      <div class="shop-most-viewed-scroller">
        <a class="btn-direction-prev" href="#" data-navigation="prev">Anterior</a>
        
        <div class="overflow">
          <!-- PRODUCT LIST -->
          <ul class="product-list">

            <% 
              var countProd = 0;
              mostviewed.forEach(function(product) { 
            %>
            
              <li class="product-item" data-pathname="/lightbox-dynamic.html">
                <a class="button-buy" href="<%- product.link %>">Comprar</a>
                <figure class="product-image">
                  <a href="<%- product.link %>" title="<%- product.title %>">
                    <img src="<%- product.image %>" height="123" width="132" alt="<%- product.title %>">
                  </a>
                </figure><!-- .product-image -->
                <div class="product-details">
                  <a href="<%- product.link %>">
                    <% if(product.frete) { %><strong class="product-flag">Frete Grátis</strong><% } %>
                    <strong class="product-header"><%- product.title %></strong>
                    <% if(product.description !== '') { %><span class="product-description"><%- product.description %></span><% } %>
                  </a>
                </div><!-- .product-details -->
                <div class="product-price">
                  <a href="<%- product.link %>">
                    <% if(product.prices.old !== '') { %><span class="old-price">De: R$ <%- product.prices.old %></span><% } %>
                    <% if(product.prices.price !== '') { %><strong class="price">Por: R$ <%- product.prices.price %></strong><% } %>
                    <% if(product.prices.parcel !== '') { %><span class="parcel-price">ou <strong>10x</strong> de <strong>R$ <%- product.prices.parcel %></strong></span><% } %>
                    <span class="more-details">+ Detalhes</span>
                  </a>
                </div><!-- .product-price -->
              </li><!-- .product-item -->
              
            <% 
              countProd++;
              })
            %>

          </ul><!-- .product-list -->
        </div><!-- .overflow -->

        <a class="btn-direction-next" href="#" data-navigation="next">Próximo</a>
      </div><!-- .shop-most-viewed-scroller -->
    </section><!-- .shop-most-viewed -->

    <!-- BOTTOM PAGE -->
    <section class="ms-bottom">
      <!-- FORM CADASTRE -->
      <div class="form-cadastre">
        <form>
          <h3>Cadastre-se e concorra a brindes</h3>
          <div class="input-text">
            <label for="inp-name">Seu nome</label>
            <input type="text" id="inp-name" placeholder="Seu nome">
          </div><!-- .input-text -->
          <div class="input-text">
            <label for="inp-mail">Seu e-mail</label>
            <input type="text" id="inp-mail" placeholder="Seu e-mail">
          </div><!-- .input-text -->
          <div class="button-form">
            <button type="button">OK</button>
          </div><!-- .button-form -->
        </form>
      </div><!-- .form-cadastre -->

      <!-- LAST -->
      <div class="last-itens">
        <ul class="first-list">
          <li><strong>Últimos Produtos Visitados</strong></li>
          <li><a href="#">Lipgloss Princess  by Gabriela Montini</a></li>
          <li><a href="#">Desodorante Spray Masculino 90ml</a></li>
          <li><a href="#">Lipgloss Princess  by Gabriela Montini</a></li>
          <li><a href="#">Desodorante Spray Masculino 90ml</a></li>
        </ul>

        <ul class="last-list">
          <li><strong>Últimas Buscas Realizadas</strong></li>
          <li><a href="#">Cosméticos</a></li>
          <li><a href="#">Gloss</a></li>
          <li><a href="#">Hidratante</a></li>
          <li><a href="#">Perfume</a></li>
        </ul>
      </div><!-- .last-itens -->

      <!-- SOCIAL -->
      <div class="social-media">
        <h3>Acompanhe a Loja</h3>

        <ul class="social-list">
          <li><a class="icon-orkut" href="#">Orkut</a></li>
          <li><a class="icon-twitter" href="#">Twitter</a></li>
          <li><a class="icon-facebook" href="#">Facebook</a></li>
          <li><a class="icon-youtube" href="#">Youtube</a></li>
          <li><a class="icon-linkedin" href="#">Linkedin</a></li>
          <li><a class="button-blog" href="#">Visite nosso Blog</a></li>
        </ul><!-- .social-list -->
      </div><!-- .social-media -->
    </section><!-- .ms-bottom -->

    <!-- FOOTER -->
    <footer class="ms-footer" role="contentinfo">
      <div class="center-page">
        <div class="payment-list">
          <h4>Formas de Pagamento</h4>

          <ul>
            <li class="icon-card-visa">Visa</li>
            <li class="icon-card-mastercard">Mastercad</li>
            <li class="icon-card-diners">Diners Clube</li>
            <li class="icon-card-amex">American Express</li>
            <li class="icon-card-itau">Itaú</li>
            <li class="icon-card-bradesco">Bradesco</li>
            <li class="icon-card-boleto">Boleto</li>
          </ul>
        </div><!-- .payment-list -->

        <div class="recognize-list">
          <h4>Empresa Reconhecida</h4>

          <ul>
            <li><a href="#"><img src="images/seal/ebit.png" height="51" width="97" alt="E-bit"></a></li>
            <li><a href="#"><img src="images/seal/thawte.png" height="51" width="97" alt="Thawte"></a></li>
          </ul>
        </div><!-- .recognize-list -->

        <div class="institutional-list">
          <h4>Institucional</h4>

          <ul>
            <li><a href="#">Sobre a Loja</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">Termos e Condições de Uso</a></li>
            <li><a href="#">Política de Privacidade</a></li>
          </ul>
        </div><!-- .institutional-list -->

        <div class="treatment-list">
          <h4>Atendimento</h4>

          <ul>
            <li><a href="#">Central de Atendimento</a></li>
            <li><a href="#">Telefones Uteis</a></li>
            <li><a href="#">Atendimento por Email</a></li>
            <li><a href="#">Duvidas Frequentes</a></li>
          </ul>
        </div><!-- .treatment-list -->

        <div class="services-list">
          <h4>Serviços</h4>

          <ul>
            <li><a href="#">Meu Cadastro</a></li>
            <li><a href="#">Meus Pedidos</a></li>
            <li><a href="#">Vale Presente</a></li>
            <li><a href="#">Formas de pagamento</a></li>
            <li><a href="#">Política de entrega</a></li>
            <li><a href="#">Trocas e devoluções</a></li>
          </ul>
        </div><!-- .services-list -->

        <div class="enjoy-list">
          <!-- twitter -->
          <span class="social-like"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.cea.com.br">Tweet</a></span>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          <!-- facebook -->
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <span class="social-like"><div class="fb-like" data-href="https://www.cea.com.br" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></span>
          <!-- google plus -->
          <script src="https://apis.google.com/js/platform.js" async defer>
            {lang: 'pt-BR'}
          </script>
          <span class="social-like"><div class="g-plusone" data-href="http://www.cea.com.br/"></div></span>
        </div><!-- .enjoy-list -->
      </div><!-- .center-page -->
    </footer><!-- .ms-footer -->
  </div><!-- .wrapper -->

  <!-- Scripts -->

  <!--[if lt IE 9]>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <![endif]-->
  <!--[if gte IE 9]><!-->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <!--<![endif]-->

  <script src="scripts/vendor/fancyBox/source/jquery.fancybox.pack.js"></script>
  
  <script src="scripts/lsScroller.js"></script>
  <script src="scripts/main.js"></script>

  <!-- Google Analytics -->
  <!--<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'XX-00000000-0', 'auto');
    ga('send', 'pageview');
  </script>-->
  <!-- End Google Analytics -->

  <!-- End Scripts -->

</body>
</html>