/* reset.less */

* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: normal;
  vertical-align: bottom;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: @font-family;
  font-size: @font-size-html;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
fieldset:focus,
button:focus {
  outline: none;
}

fieldset {
  border: none;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
}

object {
  display: none;
}