/* sprites.less */

/* sprite sheet of elements */
.sprites {
  display: inline-block;
  background-image: url('@{path-images}sprites.png');
  background-repeat: no-repeat;
}

.icon-bag {
  &:extend(.sprites);

  width: 35px;
  height: 45px;
  background-position: -10px 0;
}

.icon-list-user {
  &:extend(.sprites);

  background-position: -65px -164px;
}

.btn-arrow-prev,
.btn-arrow-next {
  &:extend(.sprites);

  width: 50px;
  height: 100px;
  text-indent: -9999px;
  overflow: hidden;
}

.btn-arrow-prev {
  background-position: 0 -47px;
}

.btn-arrow-next {
  background-position: -50px -47px;
}

.list-nav-shop {
  &:extend(.sprites);

  width: 6px;
  height: 8px;
  background-position: -22px -167px;
}

.icon-button-buy {
  &:extend(.sprites);
  
  width: 142px;
  height: 36px;
  text-indent: -9999px;
  overflow: hidden;
  background-position: 0 -204px;
}

.btn-arrow-products-prev,
.btn-arrow-products-next {
  &:extend(.sprites);

  width: 50px;
  height: 100px;
  text-indent: -9999px;
  overflow: hidden;  
}

.btn-arrow-products-prev {
  background-position: -100px -47px;
}

.btn-arrow-products-next {
  background-position: -150px -47px;
}

.icon-mail {
  &:extend(.sprites);

  width: 50px;
  height: 48px;
  background-position: -50px 0;
}

.icon-orkut {
  &:extend(.sprites);

  background-position: 0 -247px;
}

.icon-twitter {
  &:extend(.sprites);

  background-position: -50px -247px;
}

.icon-facebook {
  &:extend(.sprites);

  background-position: -100px -247px;
}

.icon-youtube {
  &:extend(.sprites);

  background-position: -150px -247px;
}

.icon-linkedin {
  &:extend(.sprites);

  background-position: -200px -247px;
}

.icon-card-visa {
  &:extend(.sprites);

  background-position: 0 -300px;
}

.icon-card-mastercard {
  &:extend(.sprites);

  background-position: -58px -300px;
}

.icon-card-diners {
  &:extend(.sprites);

  background-position: -115px -300px;
}

.icon-card-amex {
  &:extend(.sprites);

  background-position: -172px -300px;
}

.icon-card-itau {
  &:extend(.sprites);

  background-position: 0 -334px;
}

.icon-card-bradesco {
  &:extend(.sprites);

  background-position: -58px -334px;
}

.icon-card-boleto {
  &:extend(.sprites);

  background-position: -115px -334px;
}

.icon-star {
  &:extend(.sprites);

  background-position: 0 -438px;
}

.icon-star-none {
  &:extend(.sprites);

  background-position: -16px -438px;  
}

.icon-remove-more {
  &:extend(.sprites);

  background-position: -96px -444px  
}

.icon-add-more {
  &:extend(.sprites);

  background-position: -122px -444px;
}

.button-buy-lightbox {
  &:extend(.sprites);

  background-position: 0 -374px;
}

.button-remove-check {
  &:extend(.sprites);

  background-position: -82px -435px;
}

.button-close {
  &:extend(.sprites);

  background-position: -33px -435px;  
}