/* variables.less */

/* font */
@font-family: "Trebuchet MS", sans-serif;
@font-size-html: 62.5%;


/* colors */
@color: #66926a;
@color-darken: #507550;
@color-lighten: #fbfcf7;
@color-saturate: #70ae71;
@color-contrast: #dee8ac;
@color-brightlight: #f4fff9;
/* @color-darken: darken(@color, 20%);
@color-lighten: lighten(@color, 50%);
@color-saturate: saturate(@color, 15%); */

@gray:#5c5956;
@gray-lighten: #c4c4c4;
/* @gray-lighten: lighten(@gray, 41%); */


/* paths */
@path-images: "../images/";


/* media queries */
@large-screen: 45.250em; /* 724px */

/* grid */
@grid-columns: 12;
@grid-gutter: 30px;
