/* banner-small.less */

/* block ms-banner-small */
.ms-banner-small {
  &:extend(.center-page);
  
  margin-top: 20px;
  margin-bottom: 20px;

    ul {
      .m-row();
      
      text-align: center;
      list-style: none;

        li {
          .m-grid(4);

          display: inline-block;
          margin-top: 5px;
          margin-bottom: 5px;

            img {
              border: 1px dotted @color;
            }
        }
    }
}