/* banner.less */

/* block ms-banner */
.ms-banner {
  .m-clearfix;

  position: relative;
  
    /* arrows elements */
    .btn-arrow-prev,
    .btn-arrow-next {
      .m-transition(opacity);

      position: absolute;
      top: 50%;
      margin-top: -50px;

      &:hover {
        opacity: .6;
      }
    }

    .btn-arrow-prev {
      left: 5%;

      @media (min-width: @large-screen) {
        left: 50%;
        margin-left: -500px;
      }
    }

    .btn-arrow-next {
      right: 5%;

      @media (min-width: @large-screen) {
        right: 50%;
        margin-right: -500px;
      }
    }
    
    /* overflow element */
    .overflow {
      margin: 0 auto;
      width: 100%;
      max-width: 1920px;
      height: auto;
      max-height: 440px;
      overflow: hidden;

        ul {
          .m-clearfix();

          width: 400%;
          list-style: none;

            li {
              .m-floats(left);

              overflow: hidden;

                a {
                  display: block;
                }

                img {
                  width: 100%;
                  max-width: 100%;
                  height: auto;

                  @media (max-width: @large-screen) {
                    margin-left: -150%; 
                    width: 400%;
                    max-width: 400%;
                  }
                }
            }
        }
    }
}