/* bottom.less */

/* block ms-bottom */
.ms-bottom {
  &:extend(.center-page);
  .m-clearfix();

  margin-top: 15px;
  margin-bottom: 15px;
    
    /* element form-cadastre */
    .form-cadastre {
      .m-row();
      
      margin-bottom: 10px;
      padding: 8px 0;
      background-color: @color;

      @media (min-width: @large-screen) {
        margin-left: 0;
        margin-right: 0;
      }

        h3 {
          .m-grid(5);
          .m-font-size(22);
          
          position: relative;
          margin: 5px 0;
          padding-left: 55px;
          color: #fff;

          &:before {
            &:extend(.icon-mail);
            
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 5px;
            margin-top: -22px;
            content: "";
          }
        }

        .input-text {
          .m-grid(3);

          @media (min-width: @large-screen) {
            padding-left: 2px;
            padding-right: 2px;
          }

            input {
              margin: 5px 0;
              width: 100%;
            }
        }

        .button-form {
          .m-grid(1);

          @media (min-width: @large-screen) {
            padding-left: 2px;
            padding-right: 2px;
          }

            button {
              margin: 5px 0;
            }
        }
    }

    /* element last-itens */
    .last-itens {
      .m-grid(5.5);
      
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 0;
      border: 1px dotted @color;

      @media (min-width: @large-screen) {
        margin-right: 5px;
      }

        ul {
          &.first-list {
            .m-grid(7);
          }

          &.last-list {
            .m-grid(5);
          }

            li {
              .m-font-size(12px);

              margin-left: 15px;

              &:first-child {
                padding-bottom: 12px;
                margin-left: 0;
                color: @color;
                list-style: none;
              }

                a:hover {
                  text-decoration: underline;
                }
            }
        }
    }

    /* element social-media */
    .social-media {
      .m-grid(6.38);
        
      padding: 22px 26px 22px 28px;
      background-color: #e1e1e1;

      @media (min-width: @large-screen) {
        margin-left: 5px;
      }

        h3 {
          .m-font-size(17px);

          color: @color;
        }
        
        /* element social-list */
        .social-list {
          list-style: none;

            li {
              display: inline-block;

                a[class*="icon-"] {

                  width: 50px;
                  height: 50px;
                  text-indent: -9999px;
                  overflow: hidden;                  
                }

                .button-blog {
                  .m-font-size(15px);
                  .m-rounded(5px);
                  
                  margin-left: 40px;
                  padding: 15px 25px;
                  color: #fff;
                  background-color: @color;
                }

                a {
                  .m-transition(opacity);
                  
                  display: block;
                  margin-top: 5px;
                  margin-bottom: 5px;
                  opacity: 1;

                  &:hover {
                    opacity: .6;
                  }
                }
            }
        }
    }
}