/* default.less */

body {
  color: @gray;
}

a {
  color: inherit;
  text-decoration: none;
}

/* element wrapper */
.wrapper {
  .m-clearfix();
  .m-font-size(14px);
  
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* centralize element in page */
.center-page {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}