/* footer.less */

/* block ms-footer */
.ms-footer {
  padding: 25px 0;
  background-color: #dfe9ac;
    
    /* element ceter-page */
    .center-page {
      .m-clearfix();

      position: relative;
    }

    h4 {
      .m-font-size(13px);
      
      margin-bottom: 16px;
      color: @color;

      @media (max-width: @large-screen) {
        margin-top: 20px;
      }
    }

    ul {
      list-style: none;

        li {
          .m-font-size(12px);

          color: @color;

          &[class*="icon-card-"] {
            display: inline-block;
            margin: 2px 0;
            width: 58px;
            height: 30px;
            text-indent: -9999px;
            overflow: hidden;
          }

            a:hover {
              text-decoration: underline;
            }
        }
    }
    
    /* element payment-list */
    .payment-list {
      .m-grid(2);
    }

    /* element recognize-list */
    .recognize-list {
      .m-grid(3);
    }

    /* element institutional-list */
    .institutional-list {
      .m-grid(2.5);
    }

    /* element treatment-list */
    .treatment-list {
      .m-grid(2.5);
    }

    /* element services-list */
    .services-list {
      .m-grid(2);
    }

    /* element enjoy-list */
    .enjoy-list {
      .m-grid(5);
      
      margin-top: 25px;
      background-color: rgba(255, 255, 255, .45);
      box-shadow: 0 -2px 2px 1px rgba(0, 0, 0, .1);

      @media (min-width: @large-screen) {
        position: absolute;
        left: 40%;
        bottom: 0;
      }
      
        .social-like {
          .m-grid(4);
          display: block;
          margin: 10px auto;
        }
    }
}