/* forms.less */

/* style the form elements */
form {
  .wrapper & label {
    display: none;
  }

  input {
    .m-font-size(13px);
    .m-rounded(2px);
    
    padding: 0 10px;
    line-height: 23px;
    background-color: @color-lighten;
    border: 1px solid @gray-lighten;
  }

  button {
    .m-font-size(13px);
    .m-rounded(2px);
    
    padding: 0 10px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    background-color: @color-saturate;
    box-shadow: inset 0px 0px 2px 1px @color-darken;
    cursor: pointer; 
  }
}