/* header.less */

/* block header */
.ms-header {
  &:extend(.center-page);
  .m-row();

  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: @large-screen) {
    margin: 0 auto;
  }

    /* element logo */
    .logo {
      .m-grid(3);
      .m-font-size(80px);
      
      font-weight: normal;
      color: @color;
      
      @media (min-width: @large-screen) {
        border-right: 1px dotted @color;
      }
    }
    
    /* element content-center */
    .content-center {
      .m-grid(6);

      padding-top: 5px;
      padding-bottom: 5px;

      @media (min-width: @large-screen) {
        padding-left: 60px;
      }

        p {
          .m-font-size(12px);

            a {
              color: @color;
              text-decoration: underline;

              &:hover {
                text-decoration: none;
              }
            }
        }

        .form-search {
          margin-top: 20px;

            input {
              width: 70%;
            }
        }
    }
    
    /* element content-right */
    .content-right {
      .m-grid(3);

        .my-bag {
          .m-font-size(13px);

          display: inline-block;
          position: relative;
          margin: 15px 0 15px 30px;
          padding: 5px 0 5px 10px;
          color: @color;
          border-bottom: 1px dotted @color;

          &:hover {
            border-bottom-color: transparent;
          }

          &:before {
            &:extend(.icon-bag);

            position: absolute;
            top: -8px;
            left: -25px;
            content: "";
          }

            span {
              .m-font-size(11px);

              color: @gray;
            }
        }

        .my-user {
          width: 100%;

            li {
              &:extend(.icon-list-user);
              .m-font-size(11px);

              display: inline-block;
              padding-left: 20px;
              width: 49%;

              &:hover {
                text-decoration: underline;
              }
            }
        }
    }

    /* element toggle-nav-mobile */
    .toggle-nav-mobile {
      .m-transition(right);

      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 22px 0 0 5px;
      width: 50px;
      height: 50px;
      z-index: 10;
      transform: translateX(0);

      @media (min-width: @large-screen) {
        display: none;
      }

        .open-menu-mobile & {
          right: 80%;
        }

        .line {
          position: relative;
          
          &,
          &:before,
          &:after {
            .m-rounded();

            display: block;
            width: 40px;
            height: 6px;
            background-color: @color;
          }

          &:before,
          &:after {
            position: absolute;
            left: 0;
            content: "";
          }

          &:before {
            top: -10px;
          }

          &:after {
            bottom: -10px;
          }
        }
    }
}