/* lightbox-details.less */

/* block details */
.lightbox {
  .details {
    .m-grid(7);

      .header {
        padding: 10px 0;

          h1 {
            .m-font-size(24px);
    
            display: inline-block;
            font-weight: normal;
            color: @color;
          }

          ul {
            display: inline-block;
            margin-bottom: 5px;
            margin-left: 10px;
            list-style: none;

            li {
              &:extend(.icon-star);

              display: inline-block;
              width: 12px;
              height: 12px;
              text-indent: -9999px;
              overflow: hidden;

              &:last-child {
                &:extend(.icon-star-none);
              }
            }
          }
      }

      .description {
        padding: 20px 0;
        border-top: 1px solid #ececec;
        border-bottom: 1px solid #ececec;

          p {
            .m-font-size(12px);

            margin-right: 10px;
          }
      }

      .more-details {
        .m-clearfix();

        margin: 0 0 20px;

          h2 {
            .m-font-size(12px);
            
            margin: 20px 0 10px;
            color: @color;
          }

          .column-left {
            .m-grid(4);

              label {
                display: inline-block;
                position: relative;
                margin: 0 5px;
                width: 24px;
                height: 24px;
                border: 1px solid @gray;
                cursor: pointer;

                &:before {
                  display: block;
                  margin: 2px;
                  width: 18px;
                  height: 18px;
                  content: "";
                  background-color: #ebc2a6;
                }

                &:after {
                  &:extend(.button-remove-check);

                  display: none;
                  position: absolute;
                  top: -4px;
                  right: -4px;
                  width: 9px;
                  height: 9px;
                  content: "";
                }

                &.checked {
                  border-width: 2px;

                  &:before {
                    margin: 1px;
                  }

                  &:after {
                    display: block;
                  }
                }

                &.color-2 {
                  &:before {
                    background-color: #c6171c;
                  }
                }

                &.color-3 {
                  &:before {
                    background-color: #b7c6c9;
                  }
                }

                  input {
                    opacity: 0;
                  }
              }
          }

          .column-right {
            .m-grid(8);

              label {
                .m-font-size(11px);

                margin-right: 15px;
              }
          }

          .row-bottom {
            .m-grid(12);

            input {
              width: 28px;
            }

            button {
              width: 10px;
              height: 28px;
              text-indent: -9999px;
              overflow: hidden;
              background-color: transparent;
              box-shadow: none;

              &.remove {
                &:extend(.icon-remove-more);
              }

              &.add {
                &:extend(.icon-add-more);
              }
            }
          }
      }

      .prices {
        .m-clearfix();
        
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #f9f9f9;

          .column-left {
            .m-grid(5);

              .flag {
                .m-font-size(10px);
              
                display: inline-block;
                margin: 5px 0 5px;
                padding: 0 10px;
                color: #fff;
                line-height: 20px;
                text-transform: uppercase;
                background-color: #b5b5b5;
              }

              .old-price {
                .m-font-size(11px);

                display: block;
                text-decoration: line-through;
              }

              .price {
                .m-font-size(11px);
                
                display: block;
                margin: 5px 0;

                  strong {
                    .m-font-size(28px);

                    color: @color;
                  }                
              }

              .parcel-price {
                .m-font-size(11px);

                display: block;
              }

              .options-parcel {
                .m-font-size(11px);
                .m-rounded(5px);
    
                display: inline-block;
                margin: 5px 0;
                padding: 2px 20px;
                color: @color;
                border: 1px dotted @gray;

                &:hover {
                  text-decoration: underline;
                }
              }
          }

          .column-right {
            .m-grid(7);

              button {
                &:extend(.button-buy-lightbox);
                
                margin-top: 70px;
                width: 226px;
                height: 56px;
                text-indent: -9999px;
                overflow: hidden;
                background-color: transparent;
                box-shadow: none;
              }
          }
      }
  }
}