/* lightbox-gallery.less */

.lightbox {
  .gallery {
    .m-grid(5);

      .image-large {
        width: 100%;
        height: 350px;
        text-align: center;
        vertical-align: middle;

        &:before {
          display: inline-block;
          width: 0;
          height: 100%;
          content: "";
          vertical-align: middle;
        }

          img {
            width: 98%;
            max-width: 100%;
            vertical-align: middle;
          }
      }

      .list-thumb {
        margin-top: 20px;
        text-align: center;
        list-style: none;

          li {
            display: inline-block;
            width: 75px;
            height: 75px;

              a {
                display: block;
                width: inherit;
                height: inherit;
                border: 1px solid #f4f3f4;
                overflow: hidden;

                &:before {
                  display: inline-block;
                  width: 0;
                  height: 100%;
                  content: "";
                  vertical-align: middle;
                }

                  img {
                    width: 98%;
                    max-width: 98%;
                    vertical-align: middle;
                  }
              }
          }
      }
  }
}