/* lightbox.less */

/* block lightbox */
.lightbox {
  .m-clearfix();

  margin: 0 auto;
  padding: 20px 0;
  width: 850px;
  height: 495px;
  border: 1px solid #000;
}

/* fancybox */
.fancybox-skin {
  background-color: #fff;
}

.fancybox-close {
  &:extend(.button-close);

  right: 0;
  width: 38px;
  height: 34px;
}