/* nav.less */

/* block ms-nav */
.ms-nav {
  background-color: @color;

  @media (max-width: @large-screen) {
    .m-transition(transform);

    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    min-height: 100%;
    z-index: 10;
    transform: translateX(100%);

    .open-menu-mobile & {
      transform: translateX(0);
    }
  }

  @media (min-width: @large-screen) {
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 0 1px 1px @color;
  };

    /* element nav-list */
    .nav-list {
      &:extend(.center-page);
      
      list-style: none;
      text-align: center;

        li {
          @media (min-width: @large-screen) {
            display: inline-block;
          }

            a {
              .m-font-size(14px);
              .m-transition();
              display: inline-block;
              padding: 0 40px;
              color: #fff;
              line-height: 55px;
              text-transform: uppercase;

              &:hover {
                color: #dee8ac;
                background-color: @color-darken;
              }
            }
        }
    }
}