/* product-list.less */

/* block product-list */
.product-list {
  .m-row();

    list-style: none;
    
    /* element product-item */
    .product-item {
      .m-grid(3);
        
      display: block;
      position: relative;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      height: 100%;
      min-height: 100%;
      transition: background-color 250ms linear, box-shadow 250ms linear;

      &:hover {
        background-color: @color-brightlight;
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, .2);

        &:before {
          position: absolute;
          top: -1px;
          left: -1px;
          display: block;
          width: 100%;
          height: 100%;
          content: "";     
          border: 1px dotted @color;
          z-index: -1;
        }

          .button-buy {
            opacity: 1;
          }
      }

        /* element button-buy */
        .button-buy {
          &:extend(.icon-button-buy);
          .m-transition(opacity);

          position: absolute;
          top: 158px;
          left: 12px;
          z-index: 8;
          opacity: 0;
        }
        
        /* element product-image */
        .product-image {
          width: 100%;
          height: 158px;
          text-align: center;

            a {
              display: block;
              width: inherit;
              height: inherit;
              vertical-align: middle;

              &:before {
                display: inline-block;
                width: 0;
                height: 100%;
                content: "";
                vertical-align: middle;
              }

                img {
                  max-width: 98%;
                  vertical-align: middle;
                }
            }
        }

        /* element product-details */
        .product-details {
          position: relative;

            .product-flag {
              .m-font-size(10px);
              
              display: inline-block;
              position: absolute;
              top: -30px;
              margin: 5px 0 0;
              padding: 0 10px;
              color: #fff;
              line-height: 20px;
              text-transform: uppercase;
              background-color: #b5b5b5;
            }

            .product-header {
              display: block;
              margin: 30px 0 5px;
            }

            .product-description {
              .m-font-size(11px);

              display: block;
            }
        }

        /* element product-price */
        .product-price {
          margin-top: 10px;
          vertical-align: bottom;

            .old-price {
              display: block;
            }

            .price {
              display: block;
              margin: 5px 0;
              color: @color;
            }

            .parcel-price {
              display: block;

                strong {
                  color: @color;
                }              
            }

            .more-details {
              .m-font-size(11px);

              display: block;
              color: @color;
              text-decoration: underline;

              &:hover {
                text-decoration: none;
              }
            }
        }
    }
}