/* shop-view-aside.less */

/* block aside-shop */
.aside-shop {
  .m-grid(3);
  
    /* element no-shop */
    .nav-shop {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      overflow: hidden;

      @media (min-width: @large-screen) {
        margin-left: -15px;
        margin-right: 15px;
      }

        .nav-shop-list {
          font-family: arial, sans-serif;
          list-style: none;

            li {
              position: relative;
              padding: 10px 25px 10px 50px;
              background-color: #f3f3f3;
              border-top: 1px solid #fff;
              border-bottom: 1px solid #ddd;

              &:first-child {
                padding-left: 12px;
                color: @color;
                background-color: #dfdfdf;
              }

              & + li {
                &:hover {
                  background-color: #dfdfdf;

                  &:after {
                    visibility: hidden;
                  }              
                }

                &:after {
                  &:extend(.list-nav-shop);
                  
                  position: absolute;
                  top: 50%;
                  right: 15px;
                  margin-top: -4px;
                  content: "";
                }
              }
            }
        }
    }
  
    /* element banners-aside */
    .banners-aside {
      margin: 40px 0;

      @media (min-width: @large-screen) {
        margin-left: -15px;
        margin-right: 15px;
      }

        ul {
          text-align: center;
          list-style: none;

            li {
              margin: 20px 0;
            }
        }
    }
}