/* shop-most-viewed.less */

/* block shop-most-viewed */
.shop-most-viewed {
  &:extend(.center-page);
  .m-row();

    margin-top: 15px;

    @media (min-width: @large-screen) {
      margin-left: auto;
      margin-right: auto;
    }

    .shop-most-viewed-scroller {
      position: relative;

        .btn-direction-prev,
        .btn-direction-next {
          .m-transition(opacity);

          position: absolute;
          top: 50%;
          margin-top: -50px;

          &:hover {
            opacity: .6;
          }
        }

        .btn-direction-prev {
          &:extend(.btn-arrow-products-prev);

          left: -5px;
        }

        .btn-direction-next {
          &:extend(.btn-arrow-products-next);

          right: -5px;
        }

        .overflow {
          margin: 0 auto;
          width: 80%;
          overflow: hidden;

            .product-list {
              margin-left: 15px;
              margin-right: 15px;
            }
        }
    }
}