/* shop-header.less */

/* block shop-header */
.shop-header {
  .m-row();
  
  margin-bottom: 15px;
  color: @color;
  background-color: @color-contrast;
  
  .shop-most-viewed & {
    @media (min-width: @large-screen) {
      margin: 0 auto;
    }
  }

    h2 {
      .m-font-size(16px);
      
      padding: 0 15px;
      font-weight: normal;
      line-height: 28px;
    }
}