/* m-font-size */

/* set font in PX and REM units */
.m-font-size(@value) {
  font-size: @value;
  font-size: unit((@value * .1), rem);
  line-height: @value + 4;
  line-height: unit(((@value * .1) + .4), rem);
}