/* m-grid.less */

/* create row for grid columns */
.m-row(@gutter: @grid-gutter) {
  .m-clearfix();
  
  @media (min-width: @large-screen) {
    margin-left: (@gutter / -2);
    margin-right: (@gutter / -2);
  }
}

/* create columns */
.m-grid(@columns; @gutter: @grid-gutter) {
  .m-floats(left);

  position: relative;
  padding-left: (@gutter / 2);
  padding-right: (@gutter / 2);
  width: 100%;
  min-height: 1px;

  @media (min-width: @large-screen) {
    width: percentage((@columns / @grid-columns));
  }
}