/* style.less */
/* base */
/* variables.less */
/* font */
/* colors */
/* @color-darken: darken(@color, 20%);
@color-lighten: lighten(@color, 50%);
@color-saturate: saturate(@color, 15%); */
/* @gray-lighten: lighten(@gray, 41%); */
/* paths */
/* media queries */
/* 724px */
/* grid */
/* reset.less */
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: normal;
  vertical-align: bottom;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
input:focus,
select:focus,
textarea:focus,
fieldset:focus,
button:focus {
  outline: none;
}
fieldset {
  border: none;
}
address {
  font-style: normal;
}
img {
  max-width: 100%;
}
object {
  display: none;
}
/* sprites.less */
/* sprite sheet of elements */
.sprites,
.icon-bag,
.icon-list-user,
.btn-arrow-prev,
.btn-arrow-next,
.list-nav-shop,
.icon-button-buy,
.btn-arrow-products-prev,
.btn-arrow-products-next,
.icon-mail,
.icon-orkut,
.icon-twitter,
.icon-facebook,
.icon-youtube,
.icon-linkedin,
.icon-card-visa,
.icon-card-mastercard,
.icon-card-diners,
.icon-card-amex,
.icon-card-itau,
.icon-card-bradesco,
.icon-card-boleto,
.icon-star,
.icon-star-none,
.icon-remove-more,
.icon-add-more,
.button-buy-lightbox,
.button-remove-check,
.button-close,
.ms-header .content-right .my-bag:before,
.ms-header .content-right .my-user li,
.aside-shop .nav-shop .nav-shop-list li + li:after,
.product-list .product-item .button-buy,
.shop-most-viewed .shop-most-viewed-scroller .btn-direction-prev,
.shop-most-viewed .shop-most-viewed-scroller .btn-direction-next,
.ms-bottom .form-cadastre h3:before,
.fancybox-close,
.lightbox .details .header ul li,
.lightbox .details .header ul li:last-child,
.lightbox .details .more-details .column-left label:after,
.lightbox .details .more-details .row-bottom button.remove,
.lightbox .details .more-details .row-bottom button.add,
.lightbox .details .prices .column-right button {
  display: inline-block;
  background-image: url('../images/sprites.png');
  background-repeat: no-repeat;
}
.icon-bag,
.ms-header .content-right .my-bag:before {
  width: 35px;
  height: 45px;
  background-position: -10px 0;
}
.icon-list-user,
.ms-header .content-right .my-user li {
  background-position: -65px -164px;
}
.btn-arrow-prev,
.btn-arrow-next {
  width: 50px;
  height: 100px;
  text-indent: -9999px;
  overflow: hidden;
}
.btn-arrow-prev {
  background-position: 0 -47px;
}
.btn-arrow-next {
  background-position: -50px -47px;
}
.list-nav-shop,
.aside-shop .nav-shop .nav-shop-list li + li:after {
  width: 6px;
  height: 8px;
  background-position: -22px -167px;
}
.icon-button-buy,
.product-list .product-item .button-buy {
  width: 142px;
  height: 36px;
  text-indent: -9999px;
  overflow: hidden;
  background-position: 0 -204px;
}
.btn-arrow-products-prev,
.btn-arrow-products-next,
.shop-most-viewed .shop-most-viewed-scroller .btn-direction-prev,
.shop-most-viewed .shop-most-viewed-scroller .btn-direction-next {
  width: 50px;
  height: 100px;
  text-indent: -9999px;
  overflow: hidden;
}
.btn-arrow-products-prev,
.shop-most-viewed .shop-most-viewed-scroller .btn-direction-prev {
  background-position: -100px -47px;
}
.btn-arrow-products-next,
.shop-most-viewed .shop-most-viewed-scroller .btn-direction-next {
  background-position: -150px -47px;
}
.icon-mail,
.ms-bottom .form-cadastre h3:before {
  width: 50px;
  height: 48px;
  background-position: -50px 0;
}
.icon-orkut {
  background-position: 0 -247px;
}
.icon-twitter {
  background-position: -50px -247px;
}
.icon-facebook {
  background-position: -100px -247px;
}
.icon-youtube {
  background-position: -150px -247px;
}
.icon-linkedin {
  background-position: -200px -247px;
}
.icon-card-visa {
  background-position: 0 -300px;
}
.icon-card-mastercard {
  background-position: -58px -300px;
}
.icon-card-diners {
  background-position: -115px -300px;
}
.icon-card-amex {
  background-position: -172px -300px;
}
.icon-card-itau {
  background-position: 0 -334px;
}
.icon-card-bradesco {
  background-position: -58px -334px;
}
.icon-card-boleto {
  background-position: -115px -334px;
}
.icon-star,
.lightbox .details .header ul li {
  background-position: 0 -438px;
}
.icon-star-none,
.lightbox .details .header ul li:last-child {
  background-position: -16px -438px;
}
.icon-remove-more,
.lightbox .details .more-details .row-bottom button.remove {
  background-position: -96px -444px;
}
.icon-add-more,
.lightbox .details .more-details .row-bottom button.add {
  background-position: -122px -444px;
}
.button-buy-lightbox,
.lightbox .details .prices .column-right button {
  background-position: 0 -374px;
}
.button-remove-check,
.lightbox .details .more-details .column-left label:after {
  background-position: -82px -435px;
}
.button-close,
.fancybox-close {
  background-position: -33px -435px;
}
/* mixins */
/* m-clearfix */
/* clearfix for floating elements */
/* m-floats.less */
/* floating elements */
/* m-grid.less */
/* create row for grid columns */
/* create columns */
/* m-font-size */
/* set font in PX and REM units */
/* m-rounded.less */
/* round border */
/* m-transition.less */
/* create a transition effect */
/* blocks */
/* default.less */
body {
  color: #5c5956;
}
a {
  color: inherit;
  text-decoration: none;
}
/* element wrapper */
.wrapper {
  *zoom: 1;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 18px;
  line-height: 1.8rem;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.wrapper:before,
.wrapper:after {
  display: table;
  content: "";
  line-height: 0;
}
.wrapper:after {
  clear: both;
}
/* centralize element in page */
.center-page,
.ms-header,
.ms-nav .nav-list,
.ms-banner-small,
.shop-view,
.shop-most-viewed,
.ms-bottom {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
/* forms.less */
/* style the form elements */
.wrapper form label {
  display: none;
}
form input {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 17px;
  line-height: 1.7rem;
  border-radius: 2px;
  padding: 0 10px;
  line-height: 23px;
  background-color: #fbfcf7;
  border: 1px solid #c4c4c4;
}
form button {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 17px;
  line-height: 1.7rem;
  border-radius: 2px;
  padding: 0 10px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  background-color: #70ae71;
  box-shadow: inset 0px 0px 2px 1px #507550;
  cursor: pointer;
}
/* header.less */
/* block header */
.ms-header {
  *zoom: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  /* element logo */
  /* element content-center */
  /* element content-right */
  /* element toggle-nav-mobile */
}
.ms-header:before,
.ms-header:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-header:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-header {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 45.25em) {
  .ms-header {
    margin: 0 auto;
  }
}
.ms-header .logo {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
  font-size: 80px;
  font-size: 8rem;
  line-height: 84px;
  line-height: 8.4rem;
  font-weight: normal;
  color: #66926a;
}
.ms-header .logo:before,
.ms-header .logo:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-header .logo:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-header .logo {
    width: 25%;
  }
}
@media (min-width: 45.25em) {
  .ms-header .logo {
    border-right: 1px dotted #66926a;
  }
}
.ms-header .content-center {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.ms-header .content-center:before,
.ms-header .content-center:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-header .content-center:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-header .content-center {
    width: 50%;
  }
}
@media (min-width: 45.25em) {
  .ms-header .content-center {
    padding-left: 60px;
  }
}
.ms-header .content-center p {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  line-height: 1.6rem;
}
.ms-header .content-center p a {
  color: #66926a;
  text-decoration: underline;
}
.ms-header .content-center p a:hover {
  text-decoration: none;
}
.ms-header .content-center .form-search {
  margin-top: 20px;
}
.ms-header .content-center .form-search input {
  width: 70%;
}
.ms-header .content-right {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.ms-header .content-right:before,
.ms-header .content-right:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-header .content-right:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-header .content-right {
    width: 25%;
  }
}
.ms-header .content-right .my-bag {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 17px;
  line-height: 1.7rem;
  display: inline-block;
  position: relative;
  margin: 15px 0 15px 30px;
  padding: 5px 0 5px 10px;
  color: #66926a;
  border-bottom: 1px dotted #66926a;
}
.ms-header .content-right .my-bag:hover {
  border-bottom-color: transparent;
}
.ms-header .content-right .my-bag:before {
  position: absolute;
  top: -8px;
  left: -25px;
  content: "";
}
.ms-header .content-right .my-bag span {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 15px;
  line-height: 1.5rem;
  color: #5c5956;
}
.ms-header .content-right .my-user {
  width: 100%;
}
.ms-header .content-right .my-user li {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 15px;
  line-height: 1.5rem;
  display: inline-block;
  padding-left: 20px;
  width: 49%;
}
.ms-header .content-right .my-user li:hover {
  text-decoration: underline;
}
.ms-header .toggle-nav-mobile {
  transition: right 250ms linear;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 22px 0 0 5px;
  width: 50px;
  height: 50px;
  z-index: 10;
  transform: translateX(0);
}
@media (min-width: 45.25em) {
  .ms-header .toggle-nav-mobile {
    display: none;
  }
}
.open-menu-mobile .ms-header .toggle-nav-mobile {
  right: 80%;
}
.ms-header .toggle-nav-mobile .line {
  position: relative;
}
.ms-header .toggle-nav-mobile .line,
.ms-header .toggle-nav-mobile .line:before,
.ms-header .toggle-nav-mobile .line:after {
  border-radius: 2px;
  display: block;
  width: 40px;
  height: 6px;
  background-color: #66926a;
}
.ms-header .toggle-nav-mobile .line:before,
.ms-header .toggle-nav-mobile .line:after {
  position: absolute;
  left: 0;
  content: "";
}
.ms-header .toggle-nav-mobile .line:before {
  top: -10px;
}
.ms-header .toggle-nav-mobile .line:after {
  bottom: -10px;
}
/* nav.less */
/* block ms-nav */
.ms-nav {
  background-color: #66926a;
  /* element nav-list */
}
@media (max-width: 45.25em) {
  .ms-nav {
    transition: transform 250ms linear;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    min-height: 100%;
    z-index: 10;
    transform: translateX(100%);
  }
  .open-menu-mobile .ms-nav {
    transform: translateX(0);
  }
}
@media (min-width: 45.25em) {
  .ms-nav {
    margin-bottom: 10px;
    width: 100%;
    box-shadow: 0 0 1px 1px #66926a;
  }
}
.ms-nav .nav-list {
  list-style: none;
  text-align: center;
}
@media (min-width: 45.25em) {
  .ms-nav .nav-list li {
    display: inline-block;
  }
}
.ms-nav .nav-list li a {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 18px;
  line-height: 1.8rem;
  transition: all 250ms linear;
  display: inline-block;
  padding: 0 40px;
  color: #fff;
  line-height: 55px;
  text-transform: uppercase;
}
.ms-nav .nav-list li a:hover {
  color: #dee8ac;
  background-color: #507550;
}
/* banner.less */
/* block ms-banner */
.ms-banner {
  *zoom: 1;
  position: relative;
  /* arrows elements */
  /* overflow element */
}
.ms-banner:before,
.ms-banner:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-banner:after {
  clear: both;
}
.ms-banner .btn-arrow-prev,
.ms-banner .btn-arrow-next {
  transition: opacity 250ms linear;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}
.ms-banner .btn-arrow-prev:hover,
.ms-banner .btn-arrow-next:hover {
  opacity: .6;
}
.ms-banner .btn-arrow-prev {
  left: 5%;
}
@media (min-width: 45.25em) {
  .ms-banner .btn-arrow-prev {
    left: 50%;
    margin-left: -500px;
  }
}
.ms-banner .btn-arrow-next {
  right: 5%;
}
@media (min-width: 45.25em) {
  .ms-banner .btn-arrow-next {
    right: 50%;
    margin-right: -500px;
  }
}
.ms-banner .overflow {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: auto;
  max-height: 440px;
  overflow: hidden;
}
.ms-banner .overflow ul {
  *zoom: 1;
  width: 400%;
  list-style: none;
}
.ms-banner .overflow ul:before,
.ms-banner .overflow ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-banner .overflow ul:after {
  clear: both;
}
.ms-banner .overflow ul li {
  *zoom: 1;
  float: left;
  overflow: hidden;
}
.ms-banner .overflow ul li:before,
.ms-banner .overflow ul li:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-banner .overflow ul li:after {
  clear: both;
}
.ms-banner .overflow ul li a {
  display: block;
}
.ms-banner .overflow ul li img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@media (max-width: 45.25em) {
  .ms-banner .overflow ul li img {
    margin-left: -150%;
    width: 400%;
    max-width: 400%;
  }
}
/* banner-small.less */
/* block ms-banner-small */
.ms-banner-small {
  margin-top: 20px;
  margin-bottom: 20px;
}
.ms-banner-small ul {
  *zoom: 1;
  text-align: center;
  list-style: none;
}
.ms-banner-small ul:before,
.ms-banner-small ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-banner-small ul:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-banner-small ul {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.ms-banner-small ul li {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.ms-banner-small ul li:before,
.ms-banner-small ul li:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-banner-small ul li:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-banner-small ul li {
    width: 33.33333333%;
  }
}
.ms-banner-small ul li img {
  border: 1px dotted #66926a;
}
/* shop-header.less */
/* block shop-header */
.shop-header {
  *zoom: 1;
  margin-bottom: 15px;
  color: #66926a;
  background-color: #dee8ac;
}
.shop-header:before,
.shop-header:after {
  display: table;
  content: "";
  line-height: 0;
}
.shop-header:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .shop-header {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 45.25em) {
  .shop-most-viewed .shop-header {
    margin: 0 auto;
  }
}
.shop-header h2 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 20px;
  line-height: 2rem;
  padding: 0 15px;
  font-weight: normal;
  line-height: 28px;
}
/* shop-view.less */
/* block shop-view */
.shop-view {
  *zoom: 1;
}
.shop-view:before,
.shop-view:after {
  display: table;
  content: "";
  line-height: 0;
}
.shop-view:after {
  clear: both;
}
/* shop-view-aside.less */
/* block aside-shop */
.aside-shop {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
  /* element no-shop */
  /* element banners-aside */
}
.aside-shop:before,
.aside-shop:after {
  display: table;
  content: "";
  line-height: 0;
}
.aside-shop:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .aside-shop {
    width: 25%;
  }
}
.aside-shop .nav-shop {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
@media (min-width: 45.25em) {
  .aside-shop .nav-shop {
    margin-left: -15px;
    margin-right: 15px;
  }
}
.aside-shop .nav-shop .nav-shop-list {
  font-family: arial, sans-serif;
  list-style: none;
}
.aside-shop .nav-shop .nav-shop-list li {
  position: relative;
  padding: 10px 25px 10px 50px;
  background-color: #f3f3f3;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
}
.aside-shop .nav-shop .nav-shop-list li:first-child {
  padding-left: 12px;
  color: #66926a;
  background-color: #dfdfdf;
}
.aside-shop .nav-shop .nav-shop-list li + li:hover {
  background-color: #dfdfdf;
}
.aside-shop .nav-shop .nav-shop-list li + li:hover:after {
  visibility: hidden;
}
.aside-shop .nav-shop .nav-shop-list li + li:after {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -4px;
  content: "";
}
.aside-shop .banners-aside {
  margin: 40px 0;
}
@media (min-width: 45.25em) {
  .aside-shop .banners-aside {
    margin-left: -15px;
    margin-right: 15px;
  }
}
.aside-shop .banners-aside ul {
  text-align: center;
  list-style: none;
}
.aside-shop .banners-aside ul li {
  margin: 20px 0;
}
/* shop-view-main.less */
/* block shop-main */
.shop-main {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.shop-main:before,
.shop-main:after {
  display: table;
  content: "";
  line-height: 0;
}
.shop-main:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .shop-main {
    width: 75%;
  }
}
/* product-list.less */
/* block product-list */
.product-list {
  *zoom: 1;
  list-style: none;
  /* element product-item */
}
.product-list:before,
.product-list:after {
  display: table;
  content: "";
  line-height: 0;
}
.product-list:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .product-list {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.product-list .product-item {
  *zoom: 1;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
  display: block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
  min-height: 100%;
  transition: background-color 250ms linear, box-shadow 250ms linear;
  /* element button-buy */
  /* element product-image */
  /* element product-details */
  /* element product-price */
}
.product-list .product-item:before,
.product-list .product-item:after {
  display: table;
  content: "";
  line-height: 0;
}
.product-list .product-item:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .product-list .product-item {
    width: 25%;
  }
}
.product-list .product-item:hover {
  background-color: #f4fff9;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
}
.product-list .product-item:hover:before {
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  border: 1px dotted #66926a;
  z-index: -1;
}
.product-list .product-item:hover .button-buy {
  opacity: 1;
}
.product-list .product-item .button-buy {
  transition: opacity 250ms linear;
  position: absolute;
  top: 158px;
  left: 12px;
  z-index: 8;
  opacity: 0;
}
.product-list .product-item .product-image {
  width: 100%;
  height: 158px;
  text-align: center;
}
.product-list .product-item .product-image a {
  display: block;
  width: inherit;
  height: inherit;
  vertical-align: middle;
}
.product-list .product-item .product-image a:before {
  display: inline-block;
  width: 0;
  height: 100%;
  content: "";
  vertical-align: middle;
}
.product-list .product-item .product-image a img {
  max-width: 98%;
  vertical-align: middle;
}
.product-list .product-item .product-details {
  position: relative;
}
.product-list .product-item .product-details .product-flag {
  font-size: 10px;
  font-size: 1rem;
  line-height: 14px;
  line-height: 1.4rem;
  display: inline-block;
  position: absolute;
  top: -30px;
  margin: 5px 0 0;
  padding: 0 10px;
  color: #fff;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #b5b5b5;
}
.product-list .product-item .product-details .product-header {
  display: block;
  margin: 30px 0 5px;
}
.product-list .product-item .product-details .product-description {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 15px;
  line-height: 1.5rem;
  display: block;
}
.product-list .product-item .product-price {
  margin-top: 10px;
  vertical-align: bottom;
}
.product-list .product-item .product-price .old-price {
  display: block;
}
.product-list .product-item .product-price .price {
  display: block;
  margin: 5px 0;
  color: #66926a;
}
.product-list .product-item .product-price .parcel-price {
  display: block;
}
.product-list .product-item .product-price .parcel-price strong {
  color: #66926a;
}
.product-list .product-item .product-price .more-details {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 15px;
  line-height: 1.5rem;
  display: block;
  color: #66926a;
  text-decoration: underline;
}
.product-list .product-item .product-price .more-details:hover {
  text-decoration: none;
}
/* shop-most-viewed.less */
/* block shop-most-viewed */
.shop-most-viewed {
  *zoom: 1;
  margin-top: 15px;
}
.shop-most-viewed:before,
.shop-most-viewed:after {
  display: table;
  content: "";
  line-height: 0;
}
.shop-most-viewed:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .shop-most-viewed {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 45.25em) {
  .shop-most-viewed {
    margin-left: auto;
    margin-right: auto;
  }
}
.shop-most-viewed .shop-most-viewed-scroller {
  position: relative;
}
.shop-most-viewed .shop-most-viewed-scroller .btn-direction-prev,
.shop-most-viewed .shop-most-viewed-scroller .btn-direction-next {
  transition: opacity 250ms linear;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}
.shop-most-viewed .shop-most-viewed-scroller .btn-direction-prev:hover,
.shop-most-viewed .shop-most-viewed-scroller .btn-direction-next:hover {
  opacity: .6;
}
.shop-most-viewed .shop-most-viewed-scroller .btn-direction-prev {
  left: -5px;
}
.shop-most-viewed .shop-most-viewed-scroller .btn-direction-next {
  right: -5px;
}
.shop-most-viewed .shop-most-viewed-scroller .overflow {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
}
.shop-most-viewed .shop-most-viewed-scroller .overflow .product-list {
  margin-left: 15px;
  margin-right: 15px;
}
/* bottom.less */
/* block ms-bottom */
.ms-bottom {
  *zoom: 1;
  margin-top: 15px;
  margin-bottom: 15px;
  /* element form-cadastre */
  /* element last-itens */
  /* element social-media */
}
.ms-bottom:before,
.ms-bottom:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-bottom:after {
  clear: both;
}
.ms-bottom .form-cadastre {
  *zoom: 1;
  margin-bottom: 10px;
  padding: 8px 0;
  background-color: #66926a;
}
.ms-bottom .form-cadastre:before,
.ms-bottom .form-cadastre:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-bottom .form-cadastre:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-bottom .form-cadastre {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media (min-width: 45.25em) {
  .ms-bottom .form-cadastre {
    margin-left: 0;
    margin-right: 0;
  }
}
.ms-bottom .form-cadastre h3 {
  *zoom: 1;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
  font-size: 22;
  font-size: 2.2rem;
  line-height: 26;
  line-height: 2.6rem;
  position: relative;
  margin: 5px 0;
  padding-left: 55px;
  color: #fff;
}
.ms-bottom .form-cadastre h3:before,
.ms-bottom .form-cadastre h3:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-bottom .form-cadastre h3:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-bottom .form-cadastre h3 {
    width: 41.66666667%;
  }
}
.ms-bottom .form-cadastre h3:before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -22px;
  content: "";
}
.ms-bottom .form-cadastre .input-text {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.ms-bottom .form-cadastre .input-text:before,
.ms-bottom .form-cadastre .input-text:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-bottom .form-cadastre .input-text:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-bottom .form-cadastre .input-text {
    width: 25%;
  }
}
@media (min-width: 45.25em) {
  .ms-bottom .form-cadastre .input-text {
    padding-left: 2px;
    padding-right: 2px;
  }
}
.ms-bottom .form-cadastre .input-text input {
  margin: 5px 0;
  width: 100%;
}
.ms-bottom .form-cadastre .button-form {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.ms-bottom .form-cadastre .button-form:before,
.ms-bottom .form-cadastre .button-form:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-bottom .form-cadastre .button-form:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-bottom .form-cadastre .button-form {
    width: 8.33333333%;
  }
}
@media (min-width: 45.25em) {
  .ms-bottom .form-cadastre .button-form {
    padding-left: 2px;
    padding-right: 2px;
  }
}
.ms-bottom .form-cadastre .button-form button {
  margin: 5px 0;
}
.ms-bottom .last-itens {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;
  border: 1px dotted #66926a;
}
.ms-bottom .last-itens:before,
.ms-bottom .last-itens:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-bottom .last-itens:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-bottom .last-itens {
    width: 45.83333333%;
  }
}
@media (min-width: 45.25em) {
  .ms-bottom .last-itens {
    margin-right: 5px;
  }
}
.ms-bottom .last-itens ul.first-list {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.ms-bottom .last-itens ul.first-list:before,
.ms-bottom .last-itens ul.first-list:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-bottom .last-itens ul.first-list:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-bottom .last-itens ul.first-list {
    width: 58.33333333%;
  }
}
.ms-bottom .last-itens ul.last-list {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.ms-bottom .last-itens ul.last-list:before,
.ms-bottom .last-itens ul.last-list:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-bottom .last-itens ul.last-list:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-bottom .last-itens ul.last-list {
    width: 41.66666667%;
  }
}
.ms-bottom .last-itens ul li {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  line-height: 1.6rem;
  margin-left: 15px;
}
.ms-bottom .last-itens ul li:first-child {
  padding-bottom: 12px;
  margin-left: 0;
  color: #66926a;
  list-style: none;
}
.ms-bottom .last-itens ul li a:hover {
  text-decoration: underline;
}
.ms-bottom .social-media {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
  padding: 22px 26px 22px 28px;
  background-color: #e1e1e1;
  /* element social-list */
}
.ms-bottom .social-media:before,
.ms-bottom .social-media:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-bottom .social-media:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-bottom .social-media {
    width: 53.16666667%;
  }
}
@media (min-width: 45.25em) {
  .ms-bottom .social-media {
    margin-left: 5px;
  }
}
.ms-bottom .social-media h3 {
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 21px;
  line-height: 2.1rem;
  color: #66926a;
}
.ms-bottom .social-media .social-list {
  list-style: none;
}
.ms-bottom .social-media .social-list li {
  display: inline-block;
}
.ms-bottom .social-media .social-list li a[class*="icon-"] {
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  overflow: hidden;
}
.ms-bottom .social-media .social-list li .button-blog {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 19px;
  line-height: 1.9rem;
  border-radius: 5px;
  margin-left: 40px;
  padding: 15px 25px;
  color: #fff;
  background-color: #66926a;
}
.ms-bottom .social-media .social-list li a {
  transition: opacity 250ms linear;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 1;
}
.ms-bottom .social-media .social-list li a:hover {
  opacity: .6;
}
/* footer.less */
/* block ms-footer */
.ms-footer {
  padding: 25px 0;
  background-color: #dfe9ac;
  /* element ceter-page */
  /* element payment-list */
  /* element recognize-list */
  /* element institutional-list */
  /* element treatment-list */
  /* element services-list */
  /* element enjoy-list */
}
.ms-footer .center-page {
  *zoom: 1;
  position: relative;
}
.ms-footer .center-page:before,
.ms-footer .center-page:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-footer .center-page:after {
  clear: both;
}
.ms-footer h4 {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 17px;
  line-height: 1.7rem;
  margin-bottom: 16px;
  color: #66926a;
}
@media (max-width: 45.25em) {
  .ms-footer h4 {
    margin-top: 20px;
  }
}
.ms-footer ul {
  list-style: none;
}
.ms-footer ul li {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  line-height: 1.6rem;
  color: #66926a;
}
.ms-footer ul li[class*="icon-card-"] {
  display: inline-block;
  margin: 2px 0;
  width: 58px;
  height: 30px;
  text-indent: -9999px;
  overflow: hidden;
}
.ms-footer ul li a:hover {
  text-decoration: underline;
}
.ms-footer .payment-list {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.ms-footer .payment-list:before,
.ms-footer .payment-list:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-footer .payment-list:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-footer .payment-list {
    width: 16.66666667%;
  }
}
.ms-footer .recognize-list {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.ms-footer .recognize-list:before,
.ms-footer .recognize-list:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-footer .recognize-list:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-footer .recognize-list {
    width: 25%;
  }
}
.ms-footer .institutional-list {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.ms-footer .institutional-list:before,
.ms-footer .institutional-list:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-footer .institutional-list:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-footer .institutional-list {
    width: 20.83333333%;
  }
}
.ms-footer .treatment-list {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.ms-footer .treatment-list:before,
.ms-footer .treatment-list:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-footer .treatment-list:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-footer .treatment-list {
    width: 20.83333333%;
  }
}
.ms-footer .services-list {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.ms-footer .services-list:before,
.ms-footer .services-list:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-footer .services-list:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-footer .services-list {
    width: 16.66666667%;
  }
}
.ms-footer .enjoy-list {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 -2px 2px 1px rgba(0, 0, 0, 0.1);
}
.ms-footer .enjoy-list:before,
.ms-footer .enjoy-list:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-footer .enjoy-list:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-footer .enjoy-list {
    width: 41.66666667%;
  }
}
@media (min-width: 45.25em) {
  .ms-footer .enjoy-list {
    position: absolute;
    left: 40%;
    bottom: 0;
  }
}
.ms-footer .enjoy-list .social-like {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
  display: block;
  margin: 10px auto;
}
.ms-footer .enjoy-list .social-like:before,
.ms-footer .enjoy-list .social-like:after {
  display: table;
  content: "";
  line-height: 0;
}
.ms-footer .enjoy-list .social-like:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .ms-footer .enjoy-list .social-like {
    width: 33.33333333%;
  }
}
/* Lightbox */
/* lightbox.less */
/* block lightbox */
.lightbox {
  *zoom: 1;
  margin: 0 auto;
  padding: 20px 0;
  width: 850px;
  height: 495px;
  border: 1px solid #000;
}
.lightbox:before,
.lightbox:after {
  display: table;
  content: "";
  line-height: 0;
}
.lightbox:after {
  clear: both;
}
/* fancybox */
.fancybox-skin {
  background-color: #fff;
}
.fancybox-close {
  right: 0;
  width: 38px;
  height: 34px;
}
/* lightbox-gallery.less */
.lightbox .gallery {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.lightbox .gallery:before,
.lightbox .gallery:after {
  display: table;
  content: "";
  line-height: 0;
}
.lightbox .gallery:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .lightbox .gallery {
    width: 41.66666667%;
  }
}
.lightbox .gallery .image-large {
  width: 100%;
  height: 350px;
  text-align: center;
  vertical-align: middle;
}
.lightbox .gallery .image-large:before {
  display: inline-block;
  width: 0;
  height: 100%;
  content: "";
  vertical-align: middle;
}
.lightbox .gallery .image-large img {
  width: 98%;
  max-width: 100%;
  vertical-align: middle;
}
.lightbox .gallery .list-thumb {
  margin-top: 20px;
  text-align: center;
  list-style: none;
}
.lightbox .gallery .list-thumb li {
  display: inline-block;
  width: 75px;
  height: 75px;
}
.lightbox .gallery .list-thumb li a {
  display: block;
  width: inherit;
  height: inherit;
  border: 1px solid #f4f3f4;
  overflow: hidden;
}
.lightbox .gallery .list-thumb li a:before {
  display: inline-block;
  width: 0;
  height: 100%;
  content: "";
  vertical-align: middle;
}
.lightbox .gallery .list-thumb li a img {
  width: 98%;
  max-width: 98%;
  vertical-align: middle;
}
/* lightbox-details.less */
/* block details */
.lightbox .details {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.lightbox .details:before,
.lightbox .details:after {
  display: table;
  content: "";
  line-height: 0;
}
.lightbox .details:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .lightbox .details {
    width: 58.33333333%;
  }
}
.lightbox .details .header {
  padding: 10px 0;
}
.lightbox .details .header h1 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 28px;
  line-height: 2.8rem;
  display: inline-block;
  font-weight: normal;
  color: #66926a;
}
.lightbox .details .header ul {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 10px;
  list-style: none;
}
.lightbox .details .header ul li {
  display: inline-block;
  width: 12px;
  height: 12px;
  text-indent: -9999px;
  overflow: hidden;
}
.lightbox .details .description {
  padding: 20px 0;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}
.lightbox .details .description p {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  line-height: 1.6rem;
  margin-right: 10px;
}
.lightbox .details .more-details {
  *zoom: 1;
  margin: 0 0 20px;
}
.lightbox .details .more-details:before,
.lightbox .details .more-details:after {
  display: table;
  content: "";
  line-height: 0;
}
.lightbox .details .more-details:after {
  clear: both;
}
.lightbox .details .more-details h2 {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  line-height: 1.6rem;
  margin: 20px 0 10px;
  color: #66926a;
}
.lightbox .details .more-details .column-left {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.lightbox .details .more-details .column-left:before,
.lightbox .details .more-details .column-left:after {
  display: table;
  content: "";
  line-height: 0;
}
.lightbox .details .more-details .column-left:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .lightbox .details .more-details .column-left {
    width: 33.33333333%;
  }
}
.lightbox .details .more-details .column-left label {
  display: inline-block;
  position: relative;
  margin: 0 5px;
  width: 24px;
  height: 24px;
  border: 1px solid #5c5956;
  cursor: pointer;
}
.lightbox .details .more-details .column-left label:before {
  display: block;
  margin: 2px;
  width: 18px;
  height: 18px;
  content: "";
  background-color: #ebc2a6;
}
.lightbox .details .more-details .column-left label:after {
  display: none;
  position: absolute;
  top: -4px;
  right: -4px;
  width: 9px;
  height: 9px;
  content: "";
}
.lightbox .details .more-details .column-left label.checked {
  border-width: 2px;
}
.lightbox .details .more-details .column-left label.checked:before {
  margin: 1px;
}
.lightbox .details .more-details .column-left label.checked:after {
  display: block;
}
.lightbox .details .more-details .column-left label.color-2:before {
  background-color: #c6171c;
}
.lightbox .details .more-details .column-left label.color-3:before {
  background-color: #b7c6c9;
}
.lightbox .details .more-details .column-left label input {
  opacity: 0;
}
.lightbox .details .more-details .column-right {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.lightbox .details .more-details .column-right:before,
.lightbox .details .more-details .column-right:after {
  display: table;
  content: "";
  line-height: 0;
}
.lightbox .details .more-details .column-right:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .lightbox .details .more-details .column-right {
    width: 66.66666667%;
  }
}
.lightbox .details .more-details .column-right label {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 15px;
  line-height: 1.5rem;
  margin-right: 15px;
}
.lightbox .details .more-details .row-bottom {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.lightbox .details .more-details .row-bottom:before,
.lightbox .details .more-details .row-bottom:after {
  display: table;
  content: "";
  line-height: 0;
}
.lightbox .details .more-details .row-bottom:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .lightbox .details .more-details .row-bottom {
    width: 100%;
  }
}
.lightbox .details .more-details .row-bottom input {
  width: 28px;
}
.lightbox .details .more-details .row-bottom button {
  width: 10px;
  height: 28px;
  text-indent: -9999px;
  overflow: hidden;
  background-color: transparent;
  box-shadow: none;
}
.lightbox .details .prices {
  *zoom: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f9f9f9;
}
.lightbox .details .prices:before,
.lightbox .details .prices:after {
  display: table;
  content: "";
  line-height: 0;
}
.lightbox .details .prices:after {
  clear: both;
}
.lightbox .details .prices .column-left {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.lightbox .details .prices .column-left:before,
.lightbox .details .prices .column-left:after {
  display: table;
  content: "";
  line-height: 0;
}
.lightbox .details .prices .column-left:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .lightbox .details .prices .column-left {
    width: 41.66666667%;
  }
}
.lightbox .details .prices .column-left .flag {
  font-size: 10px;
  font-size: 1rem;
  line-height: 14px;
  line-height: 1.4rem;
  display: inline-block;
  margin: 5px 0 5px;
  padding: 0 10px;
  color: #fff;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #b5b5b5;
}
.lightbox .details .prices .column-left .old-price {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 15px;
  line-height: 1.5rem;
  display: block;
  text-decoration: line-through;
}
.lightbox .details .prices .column-left .price {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 15px;
  line-height: 1.5rem;
  display: block;
  margin: 5px 0;
}
.lightbox .details .prices .column-left .price strong {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 32px;
  line-height: 3.2rem;
  color: #66926a;
}
.lightbox .details .prices .column-left .parcel-price {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 15px;
  line-height: 1.5rem;
  display: block;
}
.lightbox .details .prices .column-left .options-parcel {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 15px;
  line-height: 1.5rem;
  border-radius: 5px;
  display: inline-block;
  margin: 5px 0;
  padding: 2px 20px;
  color: #66926a;
  border: 1px dotted #5c5956;
}
.lightbox .details .prices .column-left .options-parcel:hover {
  text-decoration: underline;
}
.lightbox .details .prices .column-right {
  *zoom: 1;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-height: 1px;
}
.lightbox .details .prices .column-right:before,
.lightbox .details .prices .column-right:after {
  display: table;
  content: "";
  line-height: 0;
}
.lightbox .details .prices .column-right:after {
  clear: both;
}
@media (min-width: 45.25em) {
  .lightbox .details .prices .column-right {
    width: 58.33333333%;
  }
}
.lightbox .details .prices .column-right button {
  margin-top: 70px;
  width: 226px;
  height: 56px;
  text-indent: -9999px;
  overflow: hidden;
  background-color: transparent;
  box-shadow: none;
}
